.main-section {
  min-height: 100vh;
  /* background-color: rgb(199, 225, 238); */
  background: linear-gradient(135deg, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-left: 45px;
}

.task-section {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 20px;
  text-align: left;
  font-weight: 600;
  max-width:350px;
  margin-left: 40px;
  padding-left: 70px;
  background-color: rgb(235, 241, 244);
}
.task-section label {
  text-align: left;
}

.task-section input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}
.task-section select {
  width: 310px;
  height: 32px;
  border-radius: 10px;
  border: 2px solid black;
}

#addTaskButton {
  border-radius: 10px;
  width: 310px;
  height: 30px;
  background-color: rgb(76, 76, 106);
  color:white;
  font-size: large;
  margin-bottom: 40px;
}
#addTaskButton:hover {
  background-color: rgb(78, 78, 240);
 
}

#taskList {
  border: 2px solid black;
  border-radius: 10px;
  list-style-type: none;
  width: 500px;
  padding: 10px;
  background-color: rgb(235, 241, 244);
}

#taskList li span {
  padding: 20px;
}
#taskList li select {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  font-weight: 700;
}

#taskList li {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(223, 240, 249);
  font-weight: 700;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
